<launch>

	<node name="stage" pkg="stage_ros" type="stageros" output="screen" args="$(find thin_navigation)/test/dis-B1-2011-09-27.world"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(find thin_navigation)/test/dis-B1-2011-09-27.yaml"/>
        <node name="localizer" pkg="thin_navigation" type="thin_localizer_node" >
		<param name="use_gui" value="true"/>
                <param name="initial_pose_x" value="0.0"/>
                <param name="initial_pose_y" value="1.8"/>
                <param name="initial_pose_theta" value="0.0"/>
        </node>
</launch>
